<section>
    <div class="login_bg min-h-screen">
        <div class="agreement">
            <div class="faq_cont h-auto overflow-y-hidden m-0 0 50px 0">
                <img class="img_display" src="/img/ongc_logo.png" alt="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="img_display" src="/img/ongc_loginview.png" alt="">
                <br>
                <br>
                <br>
                <table border="1" align="center">
                    <tbody>
                        <tr>
                            <th>Help Line Number</th>
                            <th>Email id</th>
                        </tr>
                        <tr>
                            <td>011-22406176</td>
                            <td>helpdesk_disha[at]ongc[dot]co[dot]in</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2.5" align="center">
                    <a class="back_btn" href="/">Back</a>
                </div>
            </div>
        </div>
    </div>
</section>