<section>
    <div class="login_bg min-h-screen">
        <div class="agreement">
            <img class="img_display" src="/img/ongc_logo.png" alt="">
            <br>
            <h4>End User Agreement</h4>
            <p class="text-left"> 
                1. ONGC Intellectual Property - Business, technical and confidential information of ONGC is available for the use of ONGC employees and assignees for ONGC purposes on this portal.
            </p>
            <p class="text-left">               
                2. Compliance with Laws And Regulations - Access to, and use of, the portal are subject to all applicable laws and regulations. Useof the portal in violation of any laws or regulations is strictly prohibited.
            </p>
            <p class="text-left">                
                3. User issolely responsible for the documents that he/she uploads and files that he/she creates, approves and electronically or digitally signs.
            </p>
            <p class="text-left">
                4. User acknowledges that portions/documents of the portal are restricted and may only be accessed by authorized users. User agrees to access only those portions/documents of the sites to which the user has been granted access. 
            </p>
            <p class="text-left">
                5. Violation of the Information Security Policy:Non-compliance or violation of prevailing ONGC Information Security Policy shall result in disciplinary action as per CDA Rules. For details, refer to ONGC IS Policy on ongcreports portal.
            </p>
            <p class="text-left">
                6. Fraudulent use of electronic signature, password or any other unique identification feature will be punishable under IT Act and other relevant laws.
            </p>
            <center><a href="/login"><button class="agreement_close">Close</button></a></center>
        </div>
    </div>
</section>