<section>
    <div class="login_bg">
        <div class="aggrement">
            <div class="faq_cont">
                <img class="img_display" src="/img/ongc_logo.png" alt="">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                <img class="img_display" src="/img/ongc_loginview.png" alt="">
                <font color="blue">
                    <h1 align="Center"><ul>New Releases Updates</ul></h1>
                </font>
                <div class="mb-12">
                    <p class="text-white">Two factor authentication enabled in DISHA for all users:</p>
                    <span class="text-yellow-300">To enhance the security posture of application, OTP based two factor authentication has been enabled in DISHA. OTP will be sent to your official mobile & e-mail ID.</span>
                </div>
                <div class="mb-12">
                    <p class="text-white">Two factor authentication enabled in DISHA for all users:</p>
                    <span class="text-yellow-300">To enhance the security posture of application, OTP based two factor authentication has been enabled in DISHA. OTP will be sent to your official mobile & e-mail ID.</span>
                </div>
                <div class="mb-12">
                    <p class="text-white">Two factor authentication enabled in DISHA for all users:</p>
                    <span class="text-yellow-300">To enhance the security posture of application, OTP based two factor authentication has been enabled in DISHA. OTP will be sent to your official mobile & e-mail ID.</span>
                </div>
                <div class="mb-12">
                    <p class="text-white">Two factor authentication enabled in DISHA for all users:</p>
                    <span class="text-yellow-300">To enhance the security posture of application, OTP based two factor authentication has been enabled in DISHA. OTP will be sent to your official mobile & e-mail ID.</span>
                </div>
            </div>
            <a class="back_btn" href="/">Back</a>
        </div>
    </div>
</section>