.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login_bg {
  background: url(/img/loginpage_bgi.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.login_form {
  background-color: #e4e9da;
  height: 26rem;
}

.info_box {
  height: 18.5rem;
  overflow: hidden;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.info_content {
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
}

.info_content:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.btn {
  background-color: #A41D23;
  border: #A41D23;
  color: white;
  width: -webkit-fill-available;
}

.helpline {
  color: #A41D23;
  font-weight: 600;
  font-size: 20px;
}

.container {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: 0.675rem;
  margin-right: 0.675rem;
  padding: 1.5rem;
  height: 28.5rem;
  background-color: rgba(71, 76, 70, 0.16);
}

.text_color {
  color: #A41D23;
  font-size: small;
}

a {
  text-decoration: none;
  color: white;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border: solid;
  border-spacing: 2px;
  border-color: gray;
}

th,
td {
  border: solid;
}

.aggrement {
  width: 60%;
  background: rgba(255, 255, 255, 0.5);
  margin: 50px auto;
  margin-bottom: 11.5rem;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  display: table;
  box-shadow: 1px 3px 6px #375403;
  background: transparent;
  border-color: #ddd;
}

.faq_cont {
  text-align: left;
  height: 430px;
  overflow-y: auto;
  margin: 0 0 20px 0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.img_display {
  display: initial;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.back_btn {
  background: #a41d23;
  padding: 5px 5px;
  color: #fff;
  border-radius: 4px;
  text-decoration: none !important;
  top: 10px;
}

.agreement {
  width: 60%;
  background: rgba(255, 255, 255, 0.5);
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 6px #375403;
}

.agreement h4 {
  color: #a41d23;
  padding: 10px 0 5px 0;
  border-bottom: solid 1px #a41d23;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.agreement_close {
  border-radius: 4px;
  border: none;
  background: #a41d23;
  color: #fff;
  padding: 5px 10px;
}

